@model EmployeeViewModel
@{
    var role = ViewBag.Role;
}

<form asp-action="Create">
    <input asp-for="FirstName" placeholder="First Name" />
    <input asp-for="LastName" placeholder="Last Name" />
    <input asp-for="Position" placeholder="Position" />
    <input asp-for="Department" placeholder="Department" />
    @if (role == "hradmin")
    {
        <input asp-for="Salary" placeholder="Salary" />
    }
    else
    {
        <input asp-for="Salary" type="hidden" />
    }
    <button type="submit">Create</button>
</form>